#napis1
{
    background-color: lightgrey;
    text-align: center;
    color: #00ff00;
}

#napis2
{
    background-color: rgb(245, 232, 117);
    text-align: center;
    color: #00ffff;
}
#napis3
{
    background-color: brown;
    text-align: right;
    color: #808000;
}
#napis4
{
    background-color: pink;
    text-align: left;
    color: #0000ff;
}
#napis5
{
    background-color: #00ffff;
    text-align: center;
}
#napis6
{
    background-color: pink;
    text-align: left;
    color: #00ff00;
}
#napis7
{
    background-color: brown;
    text-align: right;
    color: #00ffff;
}
#napis8
{
    background-color: rgb(245, 232, 117);
    text-align: center;
    color: #808000;
}
#napis9
{
    background-color: lightgrey;
    text-align: center;
    color: #0000ff;
}

#i1
{
    color: #ff0000;
}

#i2
{
    color: #008000;
}
#i3
{
    color: #008080;
}
#i4
{
    color: #800080;
}
#i5
{
    color: yellow;
}
#i6
{
    color: #ff0000;
}
#i7
{
    color: #008000;
}
#i8
{
    color: #008080;
}
#i9
{
    color: #800080;
}


